@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main {
	padding: 0 12%;
	font-family: 'Signika';
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.lineMargin {
	margin: 24px 0;
	display: block !important;
}

.lml {
	border-bottom-style: solid !important;
	border-bottom-width: var(--border-rule-border-width, 1px) !important;
	border-bottom-color: var(--color-divider, #ebebeb) !important;
}

button {
	border-image: initial;
}

button:active {
	outline: none;
	border: none;
}

@media screen and (max-width: 1024px) {
	.main {
		padding: 0 5%;
	}
}
