.subtitle-prop{
    float: left;
    clear: both;
    margin-top: 9px !important; 
    text-align: center;
}

.select{
    width: 300px;
    clear: right;
    float: right;
    margin-bottom: 5px;
}

.input-prop-opt{
    width: 300px !important;
    height: 40px !important;
    font-size: 16px !important;
    clear: right;
    float: right;
}