.propertyContainer {
	margin: 15px 0;
	display: grid;
	column-gap: 10px;
	row-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	grid-template-rows: 1fr;
}

.list {
	margin: 15px;
}
.list span {
	font-weight: bold;
	cursor: pointer;
	color: #00a699;
}

.list span:hover {
	text-decoration: underline;
}

/* @media screen and (max-width: 1024px) {
	.container {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
} */

@media screen and (max-width: 768px) {
	.container {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}
