.ratingComponent {
	display: flex;
}

.commentComponent {
	padding: 5px;
	min-height: 15vh;
	width: 100%;
	/*the part below removes the three lines at the bottom right of the textarea*/
	resize: none;
	/*the part below removes the blue border that appears everytime you focus in the textarea*/
	outline: none;
}
