.propertyPage {
	margin-left: auto !important;
	margin-right: auto !important;
	width: auto !important;
	padding-right: 24px !important;
	padding-left: 24px !important;
	display: flex;
}

.propertyContent {
	position: relative !important;
}

.roomContainer {
	display: flex;
}

.roomContainer p {
	margin-right: 24px;
}

.rcl .lineMargin {
	margin-top: 16px;
}

.bookingDiv {
	position: relative;
	min-height: 1px;
}

.innerBooking {
	margin-left: 45px !important;
	width: 376px !important;
	z-index: 3 !important;
}

@media (min-width: 1128px) {
	.propertyPage {
		max-width: 1080px !important;
	}
}

@media (min-width: 1128px) {
	.propertyContent {
		width: 58.333333333333336% !important;
		padding-right: 8px !important;
	}
}

@media (min-width: 1128px) {
	.bookingDiv {
		padding-left: 8px;
	}
}

@media (min-width: 1128px) {
	.innerBooking {
		position: fixed;
	}
}
