.propertyPage {
	margin-left: 15%;
	margin-right: 40%;
	padding: 15px 0;
}

.roomContainer {
	display: flex;
}

.roomContainer p {
	margin-right: 24px;
}

.propertyPage div .lineMargin {
	margin-top: 16px;
}
