.profileContainer {
	margin: 0 auto;
	width: auto;
	padding: 0 24px;
	padding-top: 32px;
	margin-bottom: 48px;
	display: flex;
}

.profileImg {
	text-align: center;
}

.profileContainer .profile {
	width: 120px;
	height: 120px;
	display: block;
	position: relative;
	margin: 0 auto;
}

.profileContainer .profile img {
	background-color: #d8d8d8 !important;
	border-radius: 50% !important;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: #ffffff !important;
	overflow: hidden !important;
	display: block !important;
	height: 120px;
	width: 120px;
}

.profileInput {
	width: 100%;
}

@media (min-width: 1128px) {
	.profileContainer {
		max-width: 1080px;
	}

	.profileSide {
		width: 33.33333333333333%;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(228, 228, 228);
		border-image: initial;
		border-radius: 1px;
		padding: 24px;
		margin-right: 8px;
	}
}

@media (min-width: 744px) {
	.profileConainter {
		max-width: 696px;
		padding-top: 40px;
	}
}
